@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#4C5958, #BFBFBF);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px  5px  15px rgba(39, 39, 39, 0.486);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #1C646D;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #38184C;
}

p {
    font-family: inherit;
    text-align: justify;
}